<h1 matDialogTitle>Crear Registro</h1>
<mat-dialog-content>
  <form [formGroup]="itemForm" ngNativeValidate>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Datos del registro">
        <div fxLayout="row wrap" class="mt-1" fxLayout.lt-sm="column">

          <div fxFlex="50" class="pr-1m">
            <mat-form-field class="inputTotal">
              <input matInput type="text" placeholder="Codigo factura" formControlName="facturaid" required>
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-1m">
            <mat-form-field class="inputTotal">
              <input matInput type="text" placeholder="Codigo producto" formControlName="productoid" required>
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-1m">
            <mat-form-field class="inputTotal">
              <input matInput type="text" placeholder="Cantidad" formControlName="cantidad" required>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <hr class="mt-1 full-width">
  <button mat-raised-button color="primary" type="submit" [disabled]="itemForm.invalid || this.isSaving"
    (click)="submit()" matTooltip="Guardar">
    <mat-icon aria-hidden="false">check</mat-icon>
  </button>
  <span fxFlex></span>
  <button mat-raised-button color="warn" type="button" [disabled]="this.isSaving" (click)="this._dialogRef.close(false)"
    matTooltip="Cerrar">
    <mat-icon aria-hidden="false">close</mat-icon>
  </button>
</mat-dialog-actions>
